<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="accountingMarkazTemplateDAO" class="ir.serajsamaneh.accounting.accountingmarkaztemplate.AccountingMarkazTemplateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="accountingMarkazTemplateService" class="ir.serajsamaneh.accounting.accountingmarkaztemplate.AccountingMarkazTemplateService"
		autowire="byName" >
		<property name="accountingMarkazTemplateDAO" ref="accountingMarkazTemplateDAO" />
	</bean>
		
	<bean id="accountingMarkazTemplate" class="ir.serajsamaneh.accounting.accountingmarkaztemplate.AccountingMarkazTemplateForm" autowire="byName"
		scope="request" >
		<property name="accountingMarkazTemplateService" ref="accountingMarkazTemplateService" />
	</bean>
</beans>