<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
   	          http://www.directwebremoting.org/schema/spring-dwr
    		  http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	
	<bean id="accountingMarkazGroupDAO" class="ir.serajsamaneh.accounting.accountingmarkazgroup.AccountingMarkazGroupDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="accountingMarkazGroupService" class="ir.serajsamaneh.accounting.accountingmarkazgroup.AccountingMarkazGroupService"
		autowire="byName" >
		<property name="accountingMarkazGroupDAO" ref="accountingMarkazGroupDAO" />
	</bean>
		
	<bean id="accountingMarkazGroup" class="ir.serajsamaneh.accounting.accountingmarkazgroup.AccountingMarkazGroupForm" autowire="byName"
		scope="request" >
		<property name="accountingMarkazGroupService" ref="accountingMarkazGroupService" />
	</bean>
</beans>