<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
              http://www.directwebremoting.org/schema/spring-dwr
    		  http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	
	<bean id="moeenTafsiliDAO" class="ir.serajsamaneh.accounting.moeentafsili.MoeenTafsiliDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="moeenTafsiliService" class="ir.serajsamaneh.accounting.moeentafsili.MoeenTafsiliService"
		autowire="byName" >
		<property name="moeenTafsiliDAO" ref="moeenTafsiliDAO" />
	</bean>
		
	<bean id="moeenTafsili" class="ir.serajsamaneh.accounting.moeentafsili.MoeenTafsiliForm" autowire="byName"
		scope="request" >
		<property name="moeenTafsiliService" ref="moeenTafsiliService" />
	</bean>
</beans>