<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="accountingEnums" class="ir.serajsamaneh.core.common.EnumListProvider">
		<property name="enumerationClasses">
			<map>
				<entry key="BedBesEnum" value="ir.serajsamaneh.accounting.enumeration.BedBesEnum" />
				<entry key="SanadStateEnum" value="ir.serajsamaneh.accounting.enumeration.SanadStateEnum" />
				<entry key="SanadFunctionEnum" value="ir.serajsamaneh.accounting.enumeration.SanadFunctionEnum" />
				<entry key="HesabLevelEnum" value="ir.serajsamaneh.accounting.enumeration.HesabLevelEnum" />
				<entry key="MarkazHazineType" value="ir.serajsamaneh.accounting.enumeration.MarkazhazineType" />
				<entry key="SanadTypeEnum" value="ir.serajsamaneh.accounting.enumeration.SanadTypeEnum" />
				<entry key="SaalMaaliStatusEnum" value="ir.serajsamaneh.enumeration.SaalMaaliStatusEnum" />
				<entry key="HesabTafsiliCodingTypeEnum" value="ir.serajsamaneh.accounting.enumeration.HesabTafsiliCodingTypeEnum" />
				<entry key="HesabMoeenCodingTypeEnum" value="ir.serajsamaneh.accounting.enumeration.HesabMoeenCodingTypeEnum" />
			</map>
		</property>
	</bean>
</beans>
