<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
              http://www.directwebremoting.org/schema/spring-dwr
    		  http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	
	<bean id="hesabKolDAO" class="ir.serajsamaneh.accounting.hesabkol.HesabKolDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="hesabKolService" class="ir.serajsamaneh.accounting.hesabkol.HesabKolService"
		autowire="byName" >
		<property name="hesabKolDAO" ref="hesabKolDAO" />
	</bean>
		
	<bean id="hesabKol" class="ir.serajsamaneh.accounting.hesabkol.HesabKolForm" autowire="byName"
		scope="request" >
		<property name="hesabKolService" ref="hesabKolService" />
		<dwr:remote javascript="hesabKol">
			<dwr:include method="getHesabHieararchy"/>		
			<dwr:include method="getRelatedHesabTreeByContact"/>		
			<dwr:include method="getRelatedHesabTreeByOrgan"/>		
			<dwr:include method="getRelatedHesabTreeByTafsili"/>		
			<dwr:include method="getRelatedHesabTreeByTafsiliTemplate"/>		
		</dwr:remote>
		<aop:scoped-proxy/>			
	</bean>
</beans>