<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="sanadTypeDAO" class="ir.serajsamaneh.accounting.sanadtype.SanadTypeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sanadTypeService" class="ir.serajsamaneh.accounting.sanadtype.SanadTypeService"
		autowire="byName" >
		<property name="sanadTypeDAO" ref="sanadTypeDAO" />
	</bean>
		
	<bean id="sanadType" class="ir.serajsamaneh.accounting.sanadtype.SanadTypeForm" autowire="byName"
		scope="request" >
		<property name="sanadTypeService" ref="sanadTypeService" />
	</bean>
</beans>