<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="sanadHesabdariDAO" class="ir.serajsamaneh.accounting.sanadhesabdari.SanadHesabdariDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sanadHesabdariService" class="ir.serajsamaneh.accounting.sanadhesabdari.SanadHesabdariService"
		autowire="byName" >
		<property name="sanadHesabdariDAO" ref="sanadHesabdariDAO" />
	</bean>
		
	<bean id="sanadHesabdari" class="ir.serajsamaneh.accounting.sanadhesabdari.SanadHesabdariForm" autowire="byName"
		scope="request" >
		<property name="sanadHesabdariService" ref="sanadHesabdariService" />
	
	</bean>
</beans>