<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="hesabMoeenDAO" class="ir.serajsamaneh.accounting.hesabmoeen.HesabMoeenDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="hesabKolDAO" ref="hesabKolDAO" />
	</bean>
	
	<bean id="hesabMoeenService" class="ir.serajsamaneh.accounting.hesabmoeen.HesabMoeenService"
		autowire="byName" >
		<property name="hesabMoeenDAO" ref="hesabMoeenDAO" />
	</bean>
		
	<bean id="hesabMoeen" class="ir.serajsamaneh.accounting.hesabmoeen.HesabMoeenForm" autowire="byName"
		scope="request" >
		<property name="hesabMoeenService" ref="hesabMoeenService" />
	</bean>
</beans>