<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="enums" class="ir.serajsamaneh.core.common.EnumOptionsProvider" />
	<bean id="requiredEnums" class="ir.serajsamaneh.core.common.EnumOptionsProvider">
		<property name="required" value="true" />
	</bean>

	<bean id="coreEnums" class="ir.serajsamaneh.core.common.EnumListProvider">
		<property name="enumerationClasses">
			<map>
				<entry key="YesNoEnum" value="ir.serajsamaneh.enumeration.YesNoEnum" />
				<entry key="StructureTypeEnum" value="ir.serajsamaneh.enumeration.StructureTypeEnum" />
				<entry key="JensiyatEnum" value="ir.serajsamaneh.enumeration.JensiyatEnum" />
				<entry key="TahsilatEnum" value="ir.serajsamaneh.enumeration.TahsilatEnum" />
				<entry key="NoeMahaleKarEnum" value="ir.serajsamaneh.enumeration.NoeMahaleKarEnum" />
				<entry key="ActionTypeEnum" value="ir.serajsamaneh.enumeration.ActionTypeEnum" />
				<entry key="OlaviatEnum" value="ir.serajsamaneh.enumeration.OlaviatEnum" />
				<entry key="RooydadStatus" value="ir.serajsamaneh.enumeration.RooydadStatus" />
				<entry key="RooydadTypeEnum" value="ir.serajsamaneh.enumeration.RooydadTypeEnum" />
				<entry key="TempUplaoadFileTypeEnum" value="ir.serajsamaneh.enumeration.TempUplaoadFileTypeEnum" />
				<entry key="NationalityEnum" value="ir.serajsamaneh.enumeration.NationalityEnum" />				
				<entry key="BankEnum" value="ir.serajsamaneh.enumeration.BankEnum" />				
				<entry key="ShahrestanTypeEnum" value="ir.serajsamaneh.enumeration.ShahrestanTypeEnum" />				
				<entry key="ConversationActionEnum" value="ir.serajsamaneh.enumeration.ConversationActionEnum" />				
				<entry key="ImportanceDegreeEnum" value="ir.serajsamaneh.enumeration.ImportanceDegreeEnum" />				
				<entry key="TicketResultTypeEnum" value="ir.serajsamaneh.enumeration.TicketResultTypeEnum" />				
				<entry key="TicketTypeEnum" value="ir.serajsamaneh.enumeration.TicketTypeEnum" />				
				<entry key="NoeShenasnamehEnum" value="ir.serajsamaneh.enumeration.NoeShenasnamehEnum" />				
				<entry key="MilitaryStateEnum" value="ir.serajsamaneh.enumeration.MilitaryStateEnum" />
				<entry key="HesabTypeEnum" value="ir.serajsamaneh.accounting.enumeration.HesabTypeEnum" />
				<entry key="TafsilTypeEnum" value="ir.serajsamaneh.accounting.enumeration.TafsilTypeEnum" />
				<entry key="HesabScopeEnum" value="ir.serajsamaneh.accounting.enumeration.HesabScopeEnum" />
				<entry key="MahyatGroupEnum" value="ir.serajsamaneh.accounting.enumeration.MahyatGroupEnum" />												
				<entry key="MahyatKolEnum" value="ir.serajsamaneh.accounting.enumeration.MahyatKolEnum" />												
				<entry key="DayOfWeekEnum" value="ir.serajsamaneh.enumeration.DayOfWeekEnum" />												
				<entry key="LocationTypeEnum" value="ir.serajsamaneh.enumeration.LocationTypeEnum" />												
				<entry key="AttributeTypeEnum" value="ir.serajsamaneh.enumeration.AttributeTypeEnum" />												
				<entry key="QuestionTypeEnum" value="ir.serajsamaneh.enumeration.QuestionTypeEnum" />												
				<entry key="EmtiazTypeEnum" value="ir.serajsamaneh.enumeration.EmtiazTypeEnum" />	
				<entry key="FormulaItemTypeEnum" value="ir.serajsamaneh.enumeration.FormulaItemTypeEnum" />
				<entry key="CalculationTypeEnum" value="ir.serajsamaneh.enumeration.CalculationTypeEnum" />											
				<entry key="PublicationStatusEnum" value="ir.serajsamaneh.enumeration.PublicationStatusEnum" />											
				<entry key="SurveyStatusEnum" value="ir.serajsamaneh.enumeration.SurveyStatusEnum" />											
				<entry key="GroupTypeEnum" value="ir.serajsamaneh.enumeration.GroupTypeEnum" />											
			</map>
		</property>
	</bean>
</beans>